# Terraform
tfplan.*
*.tfplan.txt
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log

# vscode
.vscode

# CDK
cdk/cdk.out/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Environment
.env
.env.*

# macOS
.DS_Store